<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Wystąpił błąd podczas zapisu rodzaju. Możliwe że taki rodzaj już istnieje. Spróbuj ponownie !!!
</div>
