<div class="alert alert-success" role="alert">
  <p class='text-center'><span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
  <strong>&nbspUżytkownik został usunięty !!!</strong></p>
</div>
