if (osoba_id == 0)alert_t('Wybierz osobę !');
else {
  $('.polisa_dane').html("<%= escape_javascript (render partial: 'form') %>");
  $('#usun_pol_link').hide();
  $('#osobaid').val(osoba_id);
  $('#Ubezpieczony').val(osoba);
  $('#data_wniosku').val($('#polisa_dzis').val());
  $("#pocz_okr_ubez").val($('#polisa_dzis').val());
  $("#d_wplaty").val($('#polisa_dzis').val());
  $("#d_wpl").val($('#polisa_dzis').val());
  $("#data_wystawienia").val($('#polisa_dzis').val());
  $("#data_wprowadzenia").val($('#polisa_dzis').val());
  nowa_polisa=1;
  zapisano_pol = 0;

  $.ajax({
     url: "picture/rysuj_zdjecia",
     type: 'GET',
     contentType: 'application/json',
     dataType: 'json',
  });
  $('#zdjecia_f').html("<%= escape_javascript (render partial: 'pictures/form') %>");
  $('#fileupload').fileupload();
  $.getJSON($('#fileupload').prop('action'), function (files) {
  var fu = $('#fileupload').data('blueimpFileupload'),
  template;
  //  fu._adjustMaxNumberOfFiles(-files.length);
  template = fu._renderDownload(files)
  .appendTo($('#fileupload .files'));
  // Force reflow:
  fu._reflow = fu._transition && template.length &&
  template[0].offsetWidth;
  template.addClass('in');
  $('#loading').remove();
  });

$('#label_link').html('<label for="select_t" class = "control-label col-md-3 col-sm-3 label-mar-5">TU :</label>');
  $('#polisafd').dialog( "open" );
}
