<div>
<div class="col-md-7">
<fieldset class="nopadding">
<fieldset>
  <legend class="nomargin"><h6>Polisa</h6></legend>
<div style="margin-left:60px">
   <div class="radio">
     <label style="font-weight:bold">
        <input type="radio" name="polisas" value="1" style="margin-top: 0px; top: 0px;">
        Nr. polisy
     </label>
 </div>
 <div class="radio">
  <label style="font-weight:bold">
     <input type="radio" name="polisas" value="2" style="margin-top: 0px; top: 0px;">
     Dowód wpłaty
  </label>
</div>
<div class="radio">
 <label style="font-weight:bold">
    <input type="radio" name="polisas" value="3" style="margin-top: 0px; top: 0px;">
    Certyfikat
  </label>
</div>
<div class="radio">
 <label style="font-weight:bold">
    <input type="radio" name="polisas" value="4" style="margin-top: 0px; top: 0px;">
    PL/
  </label>
</div>
<div class="radio">
 <label style="font-weight:bold">
    <input type="radio" name="polisas" value="5" style="margin-top: 0px; top: 0px;">
    Nr. członkowski
  </label>
</div>
</div>
</fieldset>
</div>

<div class="col-md-5">
<fieldset class="nopadding">
<legend class="nomargin"><h6>Pojazd</h6></legend>
<div style="margin-left:60px">
  <div class="radio">
   <label style="font-weight:bold">
     <input type="radio" name="polisas" value="6" style="margin-top: 0px; top: 0px;">
     Nr. rejestracji
  </label>
</div>
  <div class="radio">
   <label style="font-weight:bold">
    <input type="radio" name="polisas" value="7" style="margin-top: 0px; top: 0px;">
    Nr. nadwozia
  </label>
</div>
</div>
</fieldset>
</div>
</div>

<div class="col-md-12" style="margin-top:20px;">
    <div class="form-inline text-center">
 <div class="control-group">
 <label style="font-weight: bold;" for="szukanapol">Podaj dane do wyszukania :</label>
 <input type="text" id="szukanapol" name="szukanapol" class="form-control input-sm" style="width:180px;font-weight: bold; background:yellow;">
 </div>
 </div>
</div>
</fieldset>

<%= button_to("", edit_polisa_path(0),:method => :get, :class => "o_szuk_pol", :remote => "true" ) %>
