<div class="alert alert-danger" role="alert">
  <p class='text-center'><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <strong>&nbspWystąpił błąd podczas usuwania osoby. Nie można usunąć osoby która posiada polisy !!!</strong></p>
</div>
