# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 463453a387adab1a0f2b93516db7d1ecd13d747f0c7b0c4fb7f132a76cc8e9be0c893c373de019143342e3e59834e39170e72332b1ef001f5574e10b981c087d

test:
  secret_key_base: bf29ac9a8472232dac291c642e1cbeaa0aee468cf2051baa901954de4955a286d24855bc40fbdbfd2bd3e3fa7011d85a051b6d790de789c55d5ea4571b692729

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
