<div class="alert alert-danger" role="alert">
  <p class='text-center'><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <strong>&nbspWystąpił błąd podczas zapisu agencji. Możliwe że taka nazwa skrócona jest już w użyciu. Spróbuj ponownie !!!</strong></p>
</div>
