<fieldset style="width: 90%;margin-left:5%;">
<div style="margin-top:150px;"></div>
<div class="panel panel-default devise-bs" style="margin-left:30%;margin-right:30%;padding:3px;">
  <div class="panel-heading">
    <h4 class="dialog-jq">Administracja</h4>
  </div>
  <div class="panel-body">
      <div class="form-group text-center" style="color:white;margin-top:30px;">
        <%= link_to users_path, class: "btn btn-success" do %>
             <span class="glyphicon glyphicon-edit"></span> Agencje i użytkownicy
        <% end %>
      </div>
      <div class="form-group text-center" style="color:white;margin-top:30px;">
        <%= link_to ryzykas_path, id: "dodaj_ryzyka_a" ,class: "btn btn-success" do %>
             <span class="glyphicon glyphicon-wrench"></span> Towarzystwa i ryzyka
        <% end %>
      </div>
  </div>
</div>
</fieldset>
